<p style="color: red;" id="notice">
  <%= notice %>
</p>
<div id='paginate'></div>
<hr style="height:1px;border:none;border-top:1px solid #555555;" />
<div id='user'></div>
<p> <%= link_to '查找', s_path %></p>
<script>
$(function () {
    $.get('/all');
})
</script>